#addevent {
    .container {
        .addevent {
            h1 {
                margin-left: 130px;
                font-size: 28px;
                color: rgb(14, 14, 58);
                margin-bottom: 20px;
            }
            p {
                margin-left: 130px;
                font-size: 15px;
            }
            h2 {
                color: rgb(11, 11, 50);
                margin-left: 130px;
                margin-top: 40px;
                font-size: 20px;
            }
        }
        .img {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            .blocks {
                width: 550px;
                height: 120px;
                // margin-left: 130px;
                background: rgb(227, 227, 227);
                margin-top: 30px;
                border-radius: 5px;
                color: black;
                img {
                    object-fit: contain;
                    margin-left: -30px;
                    padding: 10px;
                }
                h3 {
                    margin-top: -90px;
                    display: flex;
                    align-items: center;
                    margin-left: 160px;
                }
                p {
                    margin-left: 160px;
                }
            }

            .blockstwo {
                width: 550px;
                height: 120px;
                margin-left: 130px;
                background: rgb(227, 227, 227);
                margin-top: 30px;
                border-radius: 5px;
                color: black;
                img {
                    object-fit: contain;
                    margin-left: -30px;
                    padding: 10px;
                }
                h3 {
                    margin-top: -90px;
                    display: flex;
                    align-items: center;
                    margin-left: 160px;
                }
                p {
                    margin-left: 160px;
                }
            }
        }
    }
}